.h3{
	color:black;
}
.text{
	color:#258039;
}
.text2{
	color:#F5BE41;
}
.text3{
	color:#31A9B8;
}
.text4{
	color:#CF3721;
}
.colors{
	color:black;
}
.h3-green{
	color:#258039;
}
.p1{color: #258039;

}
.h3-yellow{
	color:#F5BE41;
}
.text.yellow{
	color:#F5BE41;
}
.h3-blue{
	color:#31A9B8;
}
.h3-red{
	color:#CF3721;
}
.text.h3{
	color: brown;

}
#text5{
	color:red;
}




